{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- contact section design -->
 <!-- Contact section -->
    <div class="contact-section" id="contact">
      <div class="form-container">
        <div class="heading">
          <h1>GET IN TOUCH</h1>
        </div>
        <form action="{% url 'index' %}" method="POST">
          {% csrf_token %}
        <div class="form-field">
          <input type="text" name="name" placeholder="Name" />
          <input type="email" name="email" placeholder="Email" />
          <input type="number" name="phoneno" placeholder="Phone number" />
          <textarea  type="text" name="message"  placeholder="message"></textarea>
          <div>
            <input type="submit" value="Send" />
          </div>
          </form>
        </div>
      </div>

    </div>
       {% endblock content %}
