<h2>Thank You for Getting in Touch!</h2>
<hr class="divider">
<p>Welcome to our task management system.Your message has been received, and we'll get back to you as soon as possible.. Here are the details of your submission:</p>
<hr class="divider">
<p><strong>Name:</strong> {{ name }}</p>
<p><strong>Email:</strong> {{ email }}</p>
<p><strong>phoneno:</strong> {{ phone}}</p>
<p><strong>message:</strong> {{ message }}</p>
<hr class="divider">
<p>If you need to make any changes or have any questions, feel free to reach out to us. Otherwise, we will proceed with the task as submitted.</p>
<hr class="divider">
<p>Best regards,</p>
<p></p>
<p>{{current_date}}</p>